<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>159601934733-6hh55qn625tbmcj0uf6oud79ilm2vcum.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.159601934733-6hh55qn625tbmcj0uf6oud79ilm2vcum</string>
	<key>API_KEY</key>
	<string>AIzaSyAq2KFV97xNy7rfH7RpLiVE4d0MpHdF4Z8</string>
	<key>GCM_SENDER_ID</key>
	<string>159601934733</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.armoratech.upmate</string>
	<key>PROJECT_ID</key>
	<string>upmate-armora</string>
	<key>STORAGE_BUCKET</key>
	<string>upmate-armora.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:159601934733:ios:151fff6e995958e4853dc4</string>
</dict>
</plist>